{{> head }}

{{> navbar }}

<div class="row">
    <div class="col8">
        <h1>Escritorio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia doloribus voluptatibus est culpa facilis atque animi mollitia dolore! Consequuntur quo obcaecati qui voluptas in accusamus suscipit blanditiis tenetur quia dicta.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/escritorio.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}